{cover_enabled, true}.
{eunit_opts, [verbose]}.
{erl_opts, [warnings_as_errors, debug_info]}.
{erl_opts, [{parse_transform, lager_transform}]}.

{deps, [
		{lager, ".*", {git, "https://github.com/basho/lager", "master"}},
		{amqp_client, ".*", {git, "https://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq_2.7.0"}}},
		{rabbit_common, ".*", {git, "https://github.com/jbrisbin/rabbit_common.git", {tag, "rabbitmq_2.7.0"}}}
       ]}.
{edoc_opts, [{stylesheet_file, "priv/edoc.css"},
{preprocess, true}]}.

			 
